body, html {
	width: 100%; 
	height: 100%; 
	margin: 0;
	padding: 0; 
	overflow: visible; 
}

.appLayout {
	width: 100%; 
	height: 100%; 

}

.title {
	font-size: 18pt; 
	text-align: center;
}

.hidden {
	display: none;
}


#recentExpences {
/*width: 400px;
*/
}

.dialogContent {
	overflow-y: auto;
	height: 90%;
}
