<div style="display:none">
	<div data-dojo-type="dijit.Dialog" title="Log In" data-dojo-attach-point="dialogDijit">
		<div class="dialogContent" data-dojo-attach-point="dialogContent">
			<input type="text" data-dojo-attach-point="login"
				dojoType="dijit.form.TextBox" required="true" data-dojo-props="placeHolder: 'Login'"/><br/>
			<input type="password" data-dojo-attach-point="password"
				dojoType="dijit.form.TextBox" required="true" data-dojo-props="placeHolder: 'Password'"//>
			<div data-dojo-attach-point="messagePlace"></div>
	  	</div>
		<button data-dojo-type="dijit.form.Button" type="button" name="ok" data-dojo-attach-point="okButton">OK</button>
		<button data-dojo-type="dijit.form.Button" type="button" name="cancel" data-dojo-attach-point="cancelButton">Cancel</button>
	</div>
</div>
